<a href="https://colab.research.google.com/github/leenu10/DataScienceAnalytics/blob/main/Week11_SVM%26DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Loading the data in the pyhton environment

In [ ]:
data = pd.read_csv('/content/Social_Network_Ads.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

# One Hot Encoding for Gender column

In [ ]:
data = pd.get_dummies(data)
data.head()

    User ID  Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0  15624510   19            19000          0              0            1
1  15810944   35            20000          0              0            1
2  15668575   26            43000          0              1            0
3  15603246   27            57000          0              1            0
4  15804002   19            76000          0              0            1

# Splitting the data into train and test data.

In [ ]:
x = data.drop(['User ID', 'Purchased'], axis=1)
y = data['Purchased']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42, test_size=0.2)

# Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier()

In [ ]:
dt_model.fit(x_train, y_train)

DecisionTreeClassifier()

In [ ]:
y_pred = dt_model.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
print('Accuracy is: ', accuracy_score(y_test, y_pred))

Accuracy is:  0.85

In [ ]:
y_test.value_counts()

0    52
1    28
Name: Purchased, dtype: int64

In [ ]:
confusion_matrix(y_test, y_pred)

array([[47,  5],
       [ 7, 21]])

among the 52 unpurchased, model predicted 47 correctly and among the 28 purchased, model predicted 21 correctly.

# SVM

## Linear SVM

In [ ]:
from sklearn.svm import SVC 
svm_linear = SVC(kernel='linear')

In [ ]:
svm_linear.fit(x_train, y_train)   # takes a lot of time since the features are not scaled.

SVC(kernel='linear')

In [ ]:
y_pred = svm_linear.predict(x_test)

In [ ]:
print('Accuracy is: ', accuracy_score(y_test, y_pred))

Accuracy is:  0.8375

# Scaling the features

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [ ]:
svm_linear.fit(x_train, y_train)   # this runs fast after scaling.

SVC(kernel='linear')

In [ ]:
y_pred = svm_linear.predict(x_test)

In [ ]:
print('Accuracy is: ', accuracy_score(y_test, y_pred))

Accuracy is:  0.85

## polynomial svm

In [ ]:
svm_poly = SVC(kernel='poly', degree=3)

In [ ]:
svm_poly.fit(x_train, y_train)

SVC(kernel='poly')

In [ ]:
y_pred = svm_poly.predict(x_test)

In [ ]:
print('Accuracy is: ', accuracy_score(y_test, y_pred))

Accuracy is:  0.875

# Radial SVM

In [ ]:
svm_radial = SVC(kernel='rbf')   #radial basis function   # also known as Gaussian kernel

In [ ]:
svm_radial.fit(x_train, y_train)

SVC()

In [ ]:
y_pred = svm_radial.predict(x_test)

In [ ]:
print('Accuracy is: ', accuracy_score(y_test, y_pred))

Accuracy is:  0.9125