1. Area of circle

In [ ]:
#inputing radius
r = float(input('Enter the radius:'))

#calculating area
area = 3.14*r*r

#displaying area
print('\nThe area of the circle is', area)

Enter the radius:3.1

The area of the circle is 30.1754

2. Print details

In [ ]:
#inputing name
name = input('Enter name of the student:')

#inputing roll number
r_no = int(input('Enter roll number of the student:'))

#inputing marks
marks = int(input('Enter mark of the student:'))

#printing all the inputed values
print('\nName:', name)
print('Roll number:', r_no)
print('Mark:', marks )

Enter name of the student:John
Enter roll number of the student:27
Enter mark of the student:97

Name: John
Roll number 27
Mark: 97

3. Maximum value in a list

In [ ]:
# method 1
#entering list values
l1 = [1,2,3,4]

#printing maximum value in the list
print('Maximum value in', l1, 'is', max(l1))

Maximum value in [1, 2, 3, 4] is 4

In [ ]:
# method 2
#creating an empty list to take values
l2 = []

#inputing number of elements in the list
num = int(input('Enter number of list elements: '))

#converting the number of elements to a list
r = range(num)

#inputing the list elements
i = 0
for i in r:
    a = int(input('Enter list elements: '))
    l2.append(a)
    i = i+i

#printing maximum value in the list
print('\nMaximum value in', l2, 'is', max(l2))

Enter number of list elements: 3
Enter list elements: 1
Enter list elements: 2
Enter list elements: 3

Maximum value in [1, 2, 3] is 3

4. Charecters in string

In [ ]:
# inputing string 
test_str = input(" Enter the string: ")
  
# counting characters 
all_freq = {}
  
for i in test_str:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
  
# printing result 
print ('Count of all characters in',test_str,' is :\n ', str(all_freq))

 Enter the string: My name is John
Count of all characters in My name is John  is :
  {'M': 1, 'y': 1, ' ': 3, 'n': 2, 'a': 1, 'm': 1, 'e': 1, 'i': 1, 's': 1, 'J': 1, 'o': 1, 'h': 1}

5. Copying values in a tuple

In [ ]:
#taking vales to tuple
t1 = (11, 22, 33, 44, 55, 66)

#copying values to new tuple
t2 = t1[3:-1]

#printing output
print(t2)

(44, 55)

6. Sum of successive numbers

In [ ]:
#taking first 10 numbers
l = range(1,11)

#calculating sum of current number and previous number
for i in l:
    j = i-1
    sum1 = i+j
    #printing the sum of current and previous number
    print('The sum of current number',i,'and previous number',j,'is', sum1)

The sum of current number 1 and previous number 0 is 1
The sum of current number 2 and previous number 1 is 3
The sum of current number 3 and previous number 2 is 5
The sum of current number 4 and previous number 3 is 7
The sum of current number 5 and previous number 4 is 9
The sum of current number 6 and previous number 5 is 11
The sum of current number 7 and previous number 6 is 13
The sum of current number 8 and previous number 7 is 15
The sum of current number 9 and previous number 8 is 17
The sum of current number 10 and previous number 9 is 19

7. Divisible by 5

In [ ]:
#inputing number of elements
num = int(input('Enter the number of elements: '))

#creating list with number of elements
r = range(num)

#creating an empty list
l1 = []

#inputing the elements
for i in r:
    s = int(input('Enter the elements: '))
    l1.append(s)
    i += 1
  
#printing values divisible by 5
for j in l1:
    if j%5 == 0:
        print(j, 'is divivisible by 5')
    else:
      print(j, 'is not divivisible by 5')

Enter the number of elements: 6
Enter the elements: 2
Enter the elements: 5
Enter the elements: 7
Enter the elements: 8
Enter the elements: 10
Enter the elements: 15
2 is not divivisible by 5
5 is divivisible by 5
7 is not divivisible by 5
8 is not divivisible by 5
10 is divivisible by 5
15 is divivisible by 5

8. Prime number

In [ ]:
#inputing number
num = int(input('Enter the number: '))

#checking prime or not
if num > 1:  
   for i in range(2,num):  
       if (num % i) == 0:  
           print(num,"is not a prime number")  
           break  
   else:  
       print(num,"is a prime number")  
         
else:  
   print('The number is zero')

Enter the number: 6
6 is not a prime number

9. List reversing

In [ ]:
l1 = []
l2 = []

num = int(input("Enter the number of list elements: "))
for i in range(1, num + 1):
    value = int(input("Please enter the %d element of list : " %i))
    l1.append(value)

print('\nActual list', l1)
l1.reverse()
print("\nReversed List =  ", l1)

Enter the number of list elements: 5
Please enter the 1 element of list : 1
Please enter the 2 element of list : 2
Please enter the 3 element of list : 3
Please enter the 4 element of list : 4
Please enter the 5 element of list : 5

Actual list [1, 2, 3, 4, 5]

Reversed List =   [5, 4, 3, 2, 1]

10. Pattern printing

In [ ]:
#inputting number of rows
num = int(input("Enter the number of rows: ")) 
 
#outer loop to handle number of rows  
for i in range(0, num):  
    # inner loop to handle number of columns. values is changing according to outer loop  
        for j in range(0, i + 1):  
            # printing stars  
            print("* ", end="")       
  
        # ending line after each row  
        print()

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

11. Maximum of numbers

In [ ]:
#inputing number of elements
num = int(input('Enter the number of elements: '))

#inputing elements
r = range(1, num+1)
l1 = []
for i in r:
    a = int(input('Enter the %d number:' %i))
    l1.append(a)

#finding max value
print('\nThe greatest number is ', max(l1))

Enter the number of elements: 5
Enter the 1 number:23
Enter the 2 number:45
Enter the 3 number:674
Enter the 4 number:5678
Enter the 5 number:23

The greatest number is  5678

12. Exponent function

In [ ]:
#defining function
def exponent(base,exp):
    if(exp == 1):
        return(base)
    if(exp != 1):
        return(base*exponent(base,exp-1))

#inputing base and exponent values
base = int(input("Enter base: "))
exp = int(input("Enter exponential value: "))

#printing result
print("\nResult:", exponent(base,exp))

Enter base: 2
Enter exponential value: 3

Result: 8

13. Sum of cubes

In [ ]:
#inputing number
num = int(input('Enter the number: '))

#creating list
r = range(2,num)
a = 1

#calculation
for i in r:
    a = a + (i*i*i)
print('Sum of cube of numbers is:', a)

Enter the number: 4
Sum of cube of numbers is: 36

14. Pattern printing (nested loop)

In [ ]:
#inputing the number
num = int(input('Enter the maximum * needed: '))

for i in range(num):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(num,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

Enter the maximum * needed: 5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

15. Fizz buzz

In [ ]:

#inputing number of values
num = int(input('Enter the limit: '))

#creating list
r = range(1, num)

#program for fizzbuzz
for fizzbuzz in r:
    if fizzbuzz % 2 == 0 and fizzbuzz % 5 == 0:
        print("FizzBuzz")
        continue
    elif fizzbuzz % 2 == 0:
        print("Fizz")
        continue
    elif fizzbuzz % 5 == 0:
        print("Buzz")
        continue
    print(fizzbuzz)

Enter the limit: 6
1
Fizz
3
Fizz
Buzz

16. Most frequent number

In [ ]:
#defining function
def most_frequent(n):
    return max(set(n), key = n.count)
  
#inputing numbers
l1 = []
num = int(input('Enter the limit: '))
r = range(1,num)
for i in r:
    a = int(input('Enter the %d number: ' %i))
    l1.append(a)
print('\nThe most frequently occuring number is: ', most_frequent(l1))

Enter the limit: 7
Enter the 1 number: 1
Enter the 2 number: 2
Enter the 3 number: 3
Enter the 4 number: 2
Enter the 5 number: 3
Enter the 6 number: 5

The most frequently occuring number is:  2

17. Sum of list elements

In [ ]:
#inputing values
num = int(input('Enter number of list elements: '))

#inputing list elements
l1 = []
r = range(1,num+1)
for i in r:
    a = int(input('Enter %d element of list: ' %i))
    l1.append(a)
    
#calculating sum of elements in list
sum1 = 0
for j in l1:
    sum1 = sum1 + j
    
print('\nThe sum of elements in the list is', sum1)

Enter number of list elements: 5
Enter 1 element of list: 1
Enter 2 element of list: 2
Enter 3 element of list: 3
Enter 4 element of list: 4
Enter 5 element of list: 5

The sum of elements in the list is 15

18. Odd or even

In [ ]:
#taking numbers from 1 to 15
num = range(1,16)

#displaying each number is odd or even
for i in num:
    if i%2 == 0:
        print(i, 'is even')
    else:
        print(i, 'is Odd')

1 is Odd
2 is even
3 is Odd
4 is even
5 is Odd
6 is even
7 is Odd
8 is even
9 is Odd
10 is even
11 is Odd
12 is even
13 is Odd
14 is even
15 is Odd

19. Temperature

In [ ]:
#inputing temperature
far = float(input('Enter temperature in Fahrenheit: '))

#converting to celsius
cel = 0
cel = (5/9)*(far-32)
print('The temperaure in Celsius is:', cel)

Enter temperature in Fahrenheit: 45
The temperaure in Celsius is: 7.222222222222222

20. Factorial using function

In [ ]:
#defining factorial function
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
#inputing value
num = int(input("Input a number to compute the factiorial : "))
print('The factorial of ',num, 'is', factorial(num))

Input a number to compute the factiorial : 5
The factorial of  5 is 120